In [ ]:
!pip install pandas geopandas matplotlib faker pyspark pyarrow

In [ ]:
#### Capa bronze data cruda
####
from pyspark.sql import SparkSession
from pyspark.sql.functions import from_json, col
from pyspark.sql.types import StructType, StringType, DoubleType, IntegerType, TimestampType

# Crear sesión de Spark
spark = SparkSession \
    .builder \
    .appName("SparkStreamingFromSocket") \
    .master("local[*]") \
    .config("spark.executor.memory", "4g") \
    .config("spark.executor.cores", "4") \
    .config("spark.driver.memory", "4g") \
    .config("spark.sql.shuffle.partitions", "4") \
    .getOrCreate()

# Definir el esquema para los datos JSON que se recibirán
schema = StructType() \
    .add("latitude", DoubleType()) \
    .add("longitude", DoubleType()) \
    .add("date", TimestampType()) \
    .add("customer_id", StringType()) \
    .add("employee_id", StringType()) \
    .add("quantity_products", IntegerType()) \
    .add("order_id", StringType()) \
    .add("commune_code", StringType()) \
    .add("commune_name", StringType()) \
    .add("customer_name", StringType()) \
    .add("employee_name", StringType()) \
    .add("employee_commission", DoubleType())

# Leer datos desde el socket
streaming_df = spark \
    .readStream \
    .format("socket") \
    .option("host", "localhost") \
    .option("port", 12345) \
    .load()

# Parsear los datos JSON utilizando el esquema definido
parsed_df = streaming_df \
    .select(from_json(col("value").cast("string"), schema).alias("parsed_value")) \
    .select("parsed_value.*")

# Función para guardar los datos recibidos en bronze
def process_data(df, epoch_id):
    try:
        hdfs_path = "/user/root/bronze"
        df.write \
          .format("parquet") \
          .mode("append") \
          .save(hdfs_path)
        df.show(truncate=False)
    except Exception as e:
        print(f"Error al procesar los datos: {e}")
        
# Escribir los resultados en la consola
query = parsed_df \
    .writeStream \
    .foreachBatch(process_data) \
    .outputMode("append") \
    .start()

# Mantener el stream en ejecución
query.awaitTermination()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

+--------+---------+----+-----------+-----------+-----------------+--------+------------+------------+-------------+-------------+-------------------+
|latitude|longitude|date|customer_id|employee_id|quantity_products|order_id|commune_code|commune_name|customer_name|employee_name|employee_commission|
+--------+---------+----+-----------+-----------+-----------------+--------+------------+------------+-------------+-------------+-------------------+
+--------+---------+----+-----------+-----------+-----------------+--------+------------+------------+-------------+-------------+-------------------+

+------------------+------------------+-------------------+-----------+-----------+-----------------+----------+------------+------------------------------------------+------------------+-----------------+-------------------+
|latitude          |longitude         |date               |customer_id|employee_id|quantity_products|order_id  |commune_code|commune_name                              |customer_name     |employee_name    |employee_commission|
+------------------+------------------+-------------------+-----------+-----------+-----------------+----------+------------+------------------------------------------+------------------+-----------------+-------------------+
|6.250208574487932 |-75.5425665812484 |2023-07-13 08:41:51|7062       |1482       |99               |8946514217|08          |VILLA HERMOSA                             |Roth Coffey       |Elijah Parker    |0.13               |
|6.228071965734311 |-75.5768274632126 |2024-04-29 09:38:36|8194       |1561       |25               |4272870731|15          |GUAYABAL                                  |Lillian Mcfarland |Amelia Nolan     |0.09               |
|6.186861145396933 |-75.66999558602765|2024-01-29 23:03:13|5167       |9438       |92               |4510014982|80          |CORREGIMIENTO DE SAN ANTONIO DE PRADO     |Owen Moon         |Dacey Barr       |0.02               |
|6.220996451961138 |-75.69543104864859|2024-04-25 10:54:37|3711       |9726       |50               |9513211933|80          |CORREGIMIENTO DE SAN ANTONIO DE PRADO     |Amelia Miles      |Christen Hamilton|0.17               |
|6.249629041691136 |-75.50616564613885|2024-05-21 08:01:22|7671       |6337       |75               |5364827120|90          |CORREGIMIENTO DE SANTA ELENA              |Zenia Grimes      |Phyllis Hubbard  |0.1                |
|6.190211847416741 |-75.48524748869679|2024-03-18 12:09:44|1958       |1679       |44               |239082515 |90          |CORREGIMIENTO DE SANTA ELENA              |Valentine Pugh    |Darius Greer     |0.04               |
|6.236308855861064 |-75.4847323284472 |2023-10-19 23:21:45|6228       |9726       |53               |6440541417|90          |CORREGIMIENTO DE SANTA ELENA              |Beatrice Gamble   |Christen Hamilton|0.17               |
|6.3323864547198685|-75.71381118315956|2023-09-24 04:54:11|7062       |9726       |93               |4148385712|50          |CORREGIMIENTO DE SAN SEBASTIÁN DE PALMITAS|Roth Coffey       |Christen Hamilton|0.17               |
|6.2464999341761445|-75.66236682164066|2023-11-19 09:58:54|7896       |4750       |68               |3870154982|70          |CORREGIMIENTO DE ALTAVISTA                |Jena Zimmerman    |Howard Guthrie   |0.16               |
|6.199869073353152 |-75.68295774407805|2023-11-28 12:38:27|6899       |1482       |23               |1076858504|80          |CORREGIMIENTO DE SAN ANTONIO DE PRADO     |Harrison Olsen    |Elijah Parker    |0.13               |
|6.191449537196454 |-75.64963069290246|2023-09-27 19:52:28|6789       |1679       |63               |5962031668|80          |CORREGIMIENTO DE SAN ANTONIO DE PRADO     |Mufutau Dudley    |Darius Greer     |0.04               |
|6.203951491520839 |-75.6201480385961 |2023-01-17 19:51:42|2930       |1561       |43               |5244218094|70          |CORREGIMIENTO DE ALTAVISTA                |Brendan Norton    |Amelia Nolan     |0.09               |
|6.204284645841372 |-75.50807806520373|2024-04-04 07:49:11|9443       |4942       |37               |5010528063|90          |CORREGIMIENTO DE SANTA ELENA              |Imani Wood        |Sydnee Kirby     |0.16               |
|6.295516161336374 |-75.55093773713368|2024-05-30 20:19:14|4347       |9726       |88               |1151777552|02          |SANTA CRUZ                                |Byron Carter      |Christen Hamilton|0.17               |
|6.339732980761648 |-75.68375300796093|2023-04-08 00:58:58|5003       |5668       |60               |4514291345|50          |CORREGIMIENTO DE SAN SEBASTIÁN DE PALMITAS|Felicia Macias    |Melanie Ball     |0.18               |
|6.256180649387506 |-75.54320481593791|2023-10-05 15:41:56|4388       |9726       |61               |8357979649|08          |VILLA HERMOSA                             |Josephine Small   |Christen Hamilton|0.17               |
|6.338780079042087 |-75.70876051454104|2024-04-04 23:48:33|6709       |9438       |47               |8425385224|50          |CORREGIMIENTO DE SAN SEBASTIÁN DE PALMITAS|Rhoda Rojas       |Dacey Barr       |0.02               |
|6.346864321997172 |-75.70551445199357|2024-05-17 16:37:52|4419       |1679       |86               |9736732322|50          |CORREGIMIENTO DE SAN SEBASTIÁN DE PALMITAS|Valentine Cox     |Darius Greer     |0.04               |
|6.204503451655489 |-75.58687531763152|2023-07-28 04:16:59|5859       |9435       |55               |2125904736|15          |GUAYABAL                                  |Kathleen Davenport|Ryan Nichols     |0.18               |
|6.238927389570066 |-75.53864010294855|2023-10-26 16:52:48|3372       |3455       |64               |9329999242|08          |VILLA HERMOSA                             |Axel Solis        |Davis Jenkins    |0.13               |
+------------------+------------------+-------------------+-----------+-----------+-----------------+----------+------------+------------------------------------------+------------------+-----------------+-------------------+
only showing top 20 rows

In [8]:
#### Capa silver procesamiento
####
from pyspark.sql import SparkSession
from pyspark.sql import DataFrame
from pyspark.sql.functions import col, expr, round, lit, year, month, dayofmonth, trim, hour, minute, second, dayofweek
import os 

# Obtener la sesión de Spark existente si está activa
spark = SparkSession.builder.getOrCreate()

# Función para leer archivos Parquet desde HDFS
def leer_archivos_parquet(path: str) -> DataFrame:
    try:
        # Verificar la existencia del archivo antes de leerlo
        if os.system(f"hdfs dfs -test -e {path}") == 0:
            return spark.read.parquet(path)
        else:
            print(f"El archivo Parquet {path} no existe.")
            return None
    except Exception as e:
        print(f"Error al leer el archivo Parquet {path}: {e}")
        return None
    
# Ruta de bronze
bronze_path = "hdfs:///user/root/bronze"  

# Leer archivos Parquet desde el directorio en HDFS
df_bronze = leer_archivos_parquet(bronze_path)

# Función para agregar una columna con valor constante al precio y dividir la fecha
def transformar_df(df: DataFrame) -> DataFrame:
        df_transformado = df \
            .withColumn("price", lit(3500)) \
            .withColumn("sales", col("quantity_products") * col("price")) \
            .withColumn("commission_value", round(col("sales") * col("employee_commission"), 0)) \
            .withColumn("customer_name", trim(col("customer_name"))) \
            .withColumn("employee_name", trim(col("employee_name"))) \
            .withColumn("commune_name", trim(col("commune_name"))) \
            .withColumn("year", year(col("date"))) \
            .withColumn("month", month(col("date"))) \
            .withColumn("day", dayofmonth(col("date"))) \
            .withColumn("day_week", dayofweek(col("date"))) \
            .withColumn("hour", hour(col("date"))) \
            .withColumn("minute", minute(col("date"))) \
            .withColumn("second", second(col("date")))
        return df_transformado

# Función para guardar DataFrame en un archivo Parquet en la capa Silver, siempre sobreescribe esto es compactar
def guardar_archivo_parquet(df: DataFrame, path: str) -> None:
    df.coalesce(1).write \
        .mode("overwrite") \
        .parquet(path)
        
# Función principal para unir archivos de Bronze a Silver
def unir_archivos_bronze_a_silver(bronze_path: str, silver_path: str) -> None:
    # Leer archivos Parquet desde la capa Bronze
    df_bronze = leer_archivos_parquet(bronze_path)

    # Transformar el DataFrame de Bronze
    df_transformado = transformar_df(df_bronze)

    # Guardar el DataFrame transformado en la capa Silver
    guardar_archivo_parquet(df_transformado, silver_path)

    # Leer archivos Parquet desde la capa Silver después de transformar
    df_silver_transformado = leer_archivos_parquet(silver_path)

    if df_silver_transformado is not None:
        # Contar la cantidad de registros en la capa Silver después de transformar
        records_processed = df_silver_transformado.count()
        print(f"Cantidad de registros procesados en silver después de transformar: {records_processed}")
    
    # Mostrar el DataFrame transformado (opcional)
    df_transformado.printSchema()
    df_transformado.show()

# Rutas en hdfs (distrbuido)
bronze_path = "hdfs:///user/root/bronze"  
silver_path = "hdfs:///user/root/silver/unificado.parquet"  

# Ejecutar el proceso de unión
unir_archivos_bronze_a_silver(bronze_path, silver_path)

Cantidad de registros procesados en silver después de transformar: 500
root
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- employee_id: string (nullable = true)
 |-- quantity_products: integer (nullable = true)
 |-- order_id: string (nullable = true)
 |-- commune_code: string (nullable = true)
 |-- commune_name: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- employee_name: string (nullable = true)
 |-- employee_commission: double (nullable = true)
 |-- price: integer (nullable = false)
 |-- sales: integer (nullable = true)
 |-- commission_value: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- day_week: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- minute: integer (nullable = true)
 |-- second: integer (nullable = true)

+------------------+------------------+-------------------+-----------+-----------+-----------------+----------+------------+--------------------+------------------+-----------------+-------------------+-----+------+----------------+----+-----+---+--------+----+------+------+
|          latitude|         longitude|               date|customer_id|employee_id|quantity_products|  order_id|commune_code|        commune_name|     customer_name|    employee_name|employee_commission|price| sales|commission_value|year|month|day|day_week|hour|minute|second|
+------------------+------------------+-------------------+-----------+-----------+-----------------+----------+------------+--------------------+------------------+-----------------+-------------------+-----+------+----------------+----+-----+---+--------+----+------+------+
| 6.250208574487932| -75.5425665812484|2023-07-13 08:41:51|       7062|       1482|               99|8946514217|          08|       VILLA HERMOSA|       Roth Coffey|    Elijah Parker|               0.13| 3500|346500|         45045.0|2023|    7| 13|       5|   8|    41|    51|
| 6.228071965734311| -75.5768274632126|2024-04-29 09:38:36|       8194|       1561|               25|4272870731|          15|            GUAYABAL| Lillian Mcfarland|     Amelia Nolan|               0.09| 3500| 87500|          7875.0|2024|    4| 29|       2|   9|    38|    36|
| 6.186861145396933|-75.66999558602765|2024-01-29 23:03:13|       5167|       9438|               92|4510014982|          80|CORREGIMIENTO DE ...|         Owen Moon|       Dacey Barr|               0.02| 3500|322000|          6440.0|2024|    1| 29|       2|  23|     3|    13|
| 6.220996451961138|-75.69543104864859|2024-04-25 10:54:37|       3711|       9726|               50|9513211933|          80|CORREGIMIENTO DE ...|      Amelia Miles|Christen Hamilton|               0.17| 3500|175000|         29750.0|2024|    4| 25|       5|  10|    54|    37|
| 6.249629041691136|-75.50616564613885|2024-05-21 08:01:22|       7671|       6337|               75|5364827120|          90|CORREGIMIENTO DE ...|      Zenia Grimes|  Phyllis Hubbard|                0.1| 3500|262500|         26250.0|2024|    5| 21|       3|   8|     1|    22|
| 6.190211847416741|-75.48524748869679|2024-03-18 12:09:44|       1958|       1679|               44| 239082515|          90|CORREGIMIENTO DE ...|    Valentine Pugh|     Darius Greer|               0.04| 3500|154000|          6160.0|2024|    3| 18|       2|  12|     9|    44|
| 6.236308855861064| -75.4847323284472|2023-10-19 23:21:45|       6228|       9726|               53|6440541417|          90|CORREGIMIENTO DE ...|   Beatrice Gamble|Christen Hamilton|               0.17| 3500|185500|         31535.0|2023|   10| 19|       5|  23|    21|    45|
|6.3323864547198685|-75.71381118315956|2023-09-24 04:54:11|       7062|       9726|               93|4148385712|          50|CORREGIMIENTO DE ...|       Roth Coffey|Christen Hamilton|               0.17| 3500|325500|         55335.0|2023|    9| 24|       1|   4|    54|    11|
|6.2464999341761445|-75.66236682164066|2023-11-19 09:58:54|       7896|       4750|               68|3870154982|          70|CORREGIMIENTO DE ...|    Jena Zimmerman|   Howard Guthrie|               0.16| 3500|238000|         38080.0|2023|   11| 19|       1|   9|    58|    54|
| 6.204503451655489|-75.58687531763152|2023-07-28 04:16:59|       5859|       9435|               55|2125904736|          15|            GUAYABAL|Kathleen Davenport|     Ryan Nichols|               0.18| 3500|192500|         34650.0|2023|    7| 28|       6|   4|    16|    59|
| 6.238927389570066|-75.53864010294855|2023-10-26 16:52:48|       3372|       3455|               64|9329999242|          08|       VILLA HERMOSA|        Axel Solis|    Davis Jenkins|               0.13| 3500|224000|         29120.0|2023|   10| 26|       5|  16|    52|    48|
| 6.201890307512778|-75.51864011501209|2024-04-02 11:47:20|       9585|       2232|               38| 305964666|          90|CORREGIMIENTO DE ...|        Lamar Pace|  Forrest Bradley|               0.07| 3500|133000|          9310.0|2024|    4|  2|       3|  11|    47|    20|
| 6.245089889388844| -75.5421900260397|2023-07-12 07:19:56|       1912|       6659|               41|2168419294|          08|       VILLA HERMOSA|       Abdul Hobbs|       Melinda Le|               0.06| 3500|143500|          8610.0|2023|    7| 12|       4|   7|    19|    56|
| 6.318188623012783|-75.67203008996682|2023-04-10 18:28:28|       1983|       9726|               86| 243778726|          50|CORREGIMIENTO DE ...|    Rigel Fletcher|Christen Hamilton|               0.17| 3500|301000|         51170.0|2023|    4| 10|       2|  18|    28|    28|
| 6.265038132687734| -75.6838589778932|2024-05-26 05:32:34|       9869|       3455|               81|3056785452|          80|CORREGIMIENTO DE ...|     James Mathews|    Davis Jenkins|               0.13| 3500|283500|         36855.0|2024|    5| 26|       1|   5|    32|    34|
| 6.331744741863468| -75.7022883590779|2023-04-30 06:57:49|       4082|       8362|               65|9226409985|          50|CORREGIMIENTO DE ...|        Maite Frye|   Catherine King|               0.07| 3500|227500|         15925.0|2023|    4| 30|       1|   6|    57|    49|
| 6.286833323509598|-75.51491141040887|2023-03-07 01:57:03|       4211|       9438|               91|4728563943|          90|CORREGIMIENTO DE ...|      Elvis Bolton|       Dacey Barr|               0.02| 3500|318500|          6370.0|2023|    3|  7|       3|   1|    57|     3|
| 6.204385624493366|-75.65477667557407|2024-03-11 09:49:19|       9481|       3830|               96|6568757197|          80|CORREGIMIENTO DE ...|    Odette Beasley| Shaeleigh Turner|               0.06| 3500|336000|         20160.0|2024|    3| 11|       2|   9|    49|    19|
| 6.257846491634125|-75.66364763940958|2023-09-14 05:51:47|       9188|       9438|               85|6425101658|          60|CORREGIMIENTO DE ...|     Blythe Ingram|       Dacey Barr|               0.02| 3500|297500|          5950.0|2023|    9| 14|       5|   5|    51|    47|
| 6.260059218944603|-75.58120921056367|2023-09-23 19:06:48|       4922|       1473|               76|8611654114|          07|             ROBLEDO|       Lenore Rice|    Celeste Johns|               0.07| 3500|266000|         18620.0|2023|    9| 23|       7|  19|     6|    48|
+------------------+------------------+-------------------+-----------+-----------+-----------------+----------+------------+--------------------+------------------+-----------------+-------------------+-----+------+----------------+----+-----+---+--------+----+------+------+
only showing top 20 rows

In [9]:
#### Capa gold
####
from pyspark.sql import SparkSession 
from pyspark.sql.functions import sum, max, min, avg, count, col

# Obtener la sesión de Spark existente si está activa
spark = SparkSession.builder.getOrCreate()

# Ruta del archivo Parquet en la capa Silver
silver_path = "hdfs:///user/root/silver/unificado.parquet"

# Leer los datos desde el archivo Parquet en la capa Silver
df = spark.read.parquet(silver_path)

# Crear la base de datos si no existe
spark.sql("CREATE DATABASE IF NOT EXISTS UNALwater")

# Establecer la base de datos en uso
spark.sql("USE UNALwater")

# Definir la ruta en HDFS donde se guardará la tabla en formato Parquet en la capa Gold
gold_path = "hdfs:///user/root/gold/UNALWater"

# Insertar el dataframe en una tabla externa UNALWater particionada por el campo 'date'
df.write.mode("append") \
  .partitionBy("date") \
  .format("parquet") \
  .option("path", gold_path) \
  .saveAsTable("UNALWater")

# Mostrar la estructura de la tabla
print("Estructura de la tabla UNALWater:")
spark.sql("DESCRIBE UNALWater").show()

# Construir y ejecutar consultas SQL para responder preguntas de negocio
query_ventas_por_comuna = """
    SELECT 
        CASE 
            WHEN commune_name LIKE '%CORREGIMIENTO DE SAN SEBAS%' THEN 'SAN SEBASTIAN DE PALMITAS'
            WHEN commune_name LIKE '%CORREGIMIENTO DE SAN CRIS%' THEN 'SAN CRISTOBAL'
            WHEN commune_name = 'CORREGIMIENTO DE ALTAVISTA' THEN 'ALTAVISTA'
            WHEN commune_name = 'CORREGIMIENTO DE SANTA ELENA' THEN 'SANTA ELENA'
            WHEN commune_name = 'CORREGIMIENTO DE SAN ANTONIO DE PRADO' THEN 'SAN ANTONIO DE PRADO'
        ELSE commune_name END AS Comuna_Corregimiento,
        SUM(quantity_products) AS Cantidad_Productos,
        SUM(sales) AS Total_Ventas
    FROM UNALWater
    GROUP BY Comuna_Corregimiento
    ORDER BY Total_Ventas DESC;
"""

query_ventas_por_vendedor = """
    SELECT 
        employee_name AS Vendedor,
        SUM(quantity_products) AS Cantidad_Productos,
        SUM(sales) AS Total_Ventas,
        SUM(commission_value) AS Valor_Comision
    FROM UNALWater
    GROUP BY employee_name
    ORDER BY Valor_Comision DESC
"""

query_top10_por_clientes = """
    SELECT 
        customer_name AS Cliente,
        SUM(quantity_products) AS Cantidad_Productos,
        SUM(sales) AS Total_Ventas
    FROM UNALWater
    GROUP BY customer_name
    ORDER BY Total_Ventas DESC
    LIMIT 10
"""

query_ventas_por_dia = """
    SELECT 
        CASE 
            WHEN day_week = 1 THEN 'Domingo' 
            WHEN day_week = 2 THEN 'Lunes' 
            WHEN day_week = 3 THEN 'Martes'
            WHEN day_week = 4 THEN 'Miércoles'
            WHEN day_week = 5 THEN 'Jueves'
            WHEN day_week = 6 THEN 'Viernes'
            WHEN day_week = 7 THEN 'Sábado'
        END AS Dia_Semana,
        SUM(quantity_products) AS Cantidad_Productos,
        SUM(sales) AS Total_Ventas
    FROM UNALWater
    GROUP BY day_week
    ORDER BY Total_Ventas DESC
"""

# Ejecutar las consultas SQL y mostrar los resultados
ventas_por_comuna = spark.sql(query_ventas_por_comuna)
print("Comportamiento de la cantidad de ventas por comuna:")
ventas_por_comuna.show()

ventas_por_vendedor = spark.sql(query_ventas_por_vendedor)
print("Comportamiento de la cantidad de ventas por vendedor:")
ventas_por_vendedor.show()

top10_por_clientes = spark.sql(query_top10_por_clientes)
print("Los 10 clientes que más nos han comprado botellas de agua:")
top10_por_clientes.show()

ventas_por_dia = spark.sql(query_ventas_por_dia)
print("Comportamiento de ventas de botellas de agua por día de la semana:")
ventas_por_dia.show()

Estructura de la tabla UNALWater:
+-------------------+---------+-------+
|           col_name|data_type|comment|
+-------------------+---------+-------+
|           latitude|   double|   null|
|          longitude|   double|   null|
|        customer_id|   string|   null|
|        employee_id|   string|   null|
|  quantity_products|      int|   null|
|           order_id|   string|   null|
|       commune_code|   string|   null|
|       commune_name|   string|   null|
|      customer_name|   string|   null|
|      employee_name|   string|   null|
|employee_commission|   double|   null|
|              price|      int|   null|
|              sales|      int|   null|
|   commission_value|   double|   null|
|               year|      int|   null|
|              month|      int|   null|
|                day|      int|   null|
|           day_week|      int|   null|
|               hour|      int|   null|
|             minute|      int|   null|
+-------------------+---------+-------+
only showing top 20 rows

Comportamiento de la cantidad de ventas por comuna:

+--------------------+------------------+------------+
|Comuna_Corregimiento|Cantidad_Productos|Total_Ventas|
+--------------------+------------------+------------+
|         SANTA ELENA|              6232|    21812000|
|SAN SEBASTIAN DE ...|              4945|    17307500|
|SAN ANTONIO DE PRADO|              4330|    15155000|
|       SAN CRISTOBAL|              3888|    13608000|
|           ALTAVISTA|              1905|     6667500|
|          EL POBLADO|              1204|     4214000|
|             ROBLEDO|               926|     3241000|
|       VILLA HERMOSA|               869|     3041500|
|    LAURELES ESTADIO|               804|     2814000|
|        BUENOS AIRES|               721|     2523500|
|               BELÉN|               660|     2310000|
|            GUAYABAL|               531|     1858500|
|       LA CANDELARIA|               487|     1704500|
|            CASTILLA|               475|     1662500|
|            ARANJUEZ|               372|     1302000|
|             POPULAR|               297|     1039500|
|            MANRIQUE|               263|      920500|
|          LA AMÉRICA|               235|      822500|
|          SANTA CRUZ|               196|      686000|
|          SAN JAVIER|               193|      675500|
+--------------------+------------------+------------+
only showing top 20 rows

Comportamiento de la cantidad de ventas por vendedor:

+-----------------+------------------+------------+--------------+
|         Vendedor|Cantidad_Productos|Total_Ventas|Valor_Comision|
+-----------------+------------------+------------+--------------+
|Christen Hamilton|              2010|     7035000|     1195950.0|
|     Melanie Ball|              1618|     5663000|     1019340.0|
|     Sydnee Kirby|              1526|     5341000|      854560.0|
|   Howard Guthrie|              1273|     4455500|      712880.0|
|  Althea Mckenzie|              1540|     5390000|      700700.0|
|       Ori Tucker|              1786|     6251000|      625100.0|
|  Phyllis Hubbard|              1773|     6205500|      620550.0|
|    Elijah Parker|              1355|     4742500|      616525.0|
|    Bevis Sanford|              1111|     3888500|      544390.0|
|     Ryan Nichols|               838|     2933000|      527940.0|
|    Davis Jenkins|              1095|     3832500|      498225.0|
|   Catherine King|              1877|     6569500|      459865.0|
|     Amelia Nolan|              1334|     4669000|      420210.0|
| Shaeleigh Turner|              1790|     6265000|      375900.0|
|  Forrest Bradley|              1404|     4914000|      343980.0|
|       Melinda Le|              1495|     5232500|      313950.0|
|    Celeste Johns|              1012|     3542000|      247940.0|
|     Darius Greer|              1757|     6149500|      245980.0|
|     Patricia Cox|              1579|     5526500|      221060.0|
|       Dacey Barr|              1481|     5183500|      103670.0|
+-----------------+------------------+------------+--------------+

Los 10 clientes que más nos han comprado botellas de agua:

+-----------------+------------------+------------+
|          Cliente|Cantidad_Productos|Total_Ventas|
+-----------------+------------------+------------+
|        Knox Best|               350|     1225000|
|    Amery Shepard|               270|      945000|
|      Roth Coffey|               264|      924000|
|    Heather Oneil|               263|      920500|
|     Elvis Bolton|               260|      910000|
|   Zenia Cardenas|               255|      892500|
|       Xyla Kelly|               245|      857500|
|   Galena Fleming|               233|      815500|
|  Colorado Torres|               232|      812000|
|Lillian Mcfarland|               232|      812000|
+-----------------+------------------+------------+

Comportamiento de ventas de botellas de agua por día de la semana:

+----------+------------------+------------+
|Dia_Semana|Cantidad_Productos|Total_Ventas|
+----------+------------------+------------+
|    Jueves|              5012|    17542000|
|    Martes|              4784|    16744000|
|   Domingo|              4494|    15729000|
|    Sábado|              4342|    15197000|
|     Lunes|              3916|    13706000|
| Miércoles|              3663|    12820500|
|   Viernes|              3443|    12050500|
+----------+------------------+------------+

In [ ]:
#!hdfs dfs -ls /user/root/silver/unificado.parquet
#!hdfs dfs -mkdir -p /user/root/gold
#!hdfs dfs -ls /user/root/bronze
#!hdfs dfs -ls /user/root
#!hdfs dfs -copyToLocal /user/root/gold /Analitica/BigData/Final/gold
#!hdfs dfs -copyFromLocal medellin_neighborhoods.parquet /user/root/bronze
#!hdfs dfs -ls /user/root/silver
!hdfs dfs -ls /user/root/gold
#!hdfs dfs -ls /user/root/bronze
#!hdfs dfs -ls /user/root/bronze | grep medellin_neighborhoods.parquet

Found 1 items
drwxr-xr-x   - root supergroup          0 2024-06-20 04:13 /user/root/gold/UNALWater

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, udf
from pyspark.sql.types import FloatType
from shapely.geometry import Point
import geopandas as gpd
import matplotlib.pyplot as plt

# Crear la sesión de Spark con configuración ajustada
spark = SparkSession.builder \
    .config("spark.driver.memory", "4g") \
    .config("spark.executor.memory", "4g") \
    .getOrCreate()

# Definir la ruta del archivo Parquet con datos de ventas en la capa Silver
cargue_inicial_path = 'hdfs:///user/root/silver/unificado.parquet'

try:
    # Cargar el archivo Parquet de cargue inicial como un DataFrame de Spark
    df_cargue = spark.read.parquet(cargue_inicial_path).limit(10)  # Limitar a 10 registros para pruebas

    # Definir la función Python para crear puntos a partir de latitud y longitud
    def create_point(longitude, latitude):
        return Point(float(longitude), float(latitude))

    # Registrar la función como una UDF (User Defined Function) en Spark
    create_point_udf = udf(create_point, returnType=FloatType())

    # Convertir las columnas de longitud y latitud a tipo Float y crear columna 'geom'
    df_cargue = df_cargue.withColumn('longitude', col('longitude').cast(FloatType())) \
                         .withColumn('latitude', col('latitude').cast(FloatType())) \
                         .withColumn('geom', create_point_udf(col('longitude'), col('latitude')))
    df_cargue.show()
#     # Convertir el DataFrame de Spark en un GeoDataFrame de GeoPandas
#     gdf_cargue = gpd.GeoDataFrame(df_cargue.toPandas(), geometry='geom')
    
#     # Imprimir las primeras filas para verificar la conversión
#     print("Primeras filas de GeoDataFrame:")
#     print(gdf_cargue.head())

#     # Definir la ruta del archivo Parquet con geometrías de Medellín en la capa Bronze
#     medellin_neighborhoods_path = 'hdfs:///user/root/bronze/medellin_neighborhoods.parquet'
    
#     # Cargar el archivo Parquet de geometrías de Medellín como un GeoDataFrame de GeoPandas
#     medellin_neighborhoods = gpd.read_parquet(medellin_neighborhoods_path)
    
#     # Imprimir las primeras filas para verificar la carga de datos
#     print("\nPrimeras filas de medellin_neighborhoods GeoDataFrame:")
#     print(medellin_neighborhoods.head())

# #     # Crear el gráfico con las geometrías de Medellín y los puntos del cargue inicial
# #     fig, ax = plt.subplots(figsize=(20, 20))
# #     medellin_neighborhoods.plot(ax=ax, color='lightgrey', edgecolor='darkblue')
# #     gdf_cargue.plot(ax=ax, color='blue', markersize=10, alpha=0.6)

# #     plt.title('Datos simulados de ventas en Medellín y ubicaciones de clientes')
# #     plt.xlabel('Longitud')
# #     plt.ylabel('Latitud')
# #     plt.grid(True)
# #     plt.show()
    
# #     # Guardar la figura en un archivo si la visualización es correcta
# #     plt.savefig('./data/medellin_neighborhoods_simulacion.png')
# #     plt.close()

except Exception as e:
    print(f"Error al convertir o visualizar los datos con GeoPandas: {str(e)}")